@import url('https://fonts.googleapis.com/css?family=Russo One&display=swap');

body{
    font-family: Russo One;
    background-color: #ffce00
}

.header{
    background-color: black;
}

.nav-link{
    color: #ffce00
}

.nav-link:hover {
    color: #ffea97;
    }

.navbar-nav .nav-link.active{
    color: #ffea97;
}

.navbar-brand img{
    width: 40px;
}

.navbar-toggler{
    background-color: #ffce00
}


.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table {
    margin: auto;
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #000000;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #000000;
        color: #ffce00;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}
    




